<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="OpenGL ES 2.0 Debugger"
            icon="icons/sample.gif"
            category="org.eclipse.debug.ui"
            class="com.android.ide.eclipse.gldebugger.GLFramesView"
            id="glesv2debuggerclient.views.SampleView">
      </view>
      <view
            class="com.android.ide.eclipse.gltrace.views.GLFramebufferView"
            icon="icons/opengl.png"
            id="com.android.ide.eclipse.gltrace.GLFrameBuffer"
            name="OpenGL Framebuffer"
            restorable="true">
      </view>
      <view
            class="com.android.ide.eclipse.gltrace.views.GLStateView"
            icon="icons/opengl.png"
            id="com.android.ide.eclipse.gltrace.GLState"
            name="OpenGL State"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="glesv2debuggerclient.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.android.ide.eclipse.gltrace.editors.GLFunctionTraceViewer"
            default="true"
            extensions="gltrace"
            icon="icons/opengl.png"
            id="com.android.ide.eclipse.gltrace.GLFunctionTrace"
            name="OpenGL Function Trace">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="OpenGL Trace Actions"
            id="gltrace.actionset"
            label="OpenGL Trace Actions"
            visible="true">
         <action
               class="com.android.ide.eclipse.gltrace.CollectTraceAction"
               icon="icons/connect.png"
               id="gltrace.action.connect"
               label="Collects OpenGL trace from device"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Connects to the device and collects OpenGL trace information">
         </action>
         <action
               class="com.android.ide.eclipse.gltrace.OpenGLTraceAction"
               icon="icons/opengl.png"
               id="gltrace.action.open"
               label="Open GL Trace File"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open a saved OpenGL Trace File">
         </action>
      </actionSet>
   </extension>

</plugin>
