<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.android.ide.eclipse.monitor.Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.android.ide.eclipse.monitor.Application">
         </run>
      </application>
   </extension>
   <extension
         id="com.android.ide.eclipse.monitor.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.android.ide.eclipse.monitor.Application"
            name="Android Device Monitor">
      </product>
   </extension>
   <extension
         point="com.android.ide.eclipse.ddms.toolsLocator">
      <locator
            class="com.android.ide.eclipse.monitor.ToolsLocator">
      </locator>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.android.ide.eclipse.monitor.Application"
            name="Android Device Monitor">
         <property
               name="appName"
               value="monitor">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
